body {
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.btn {
    margin-right: 10px;
}

.filme-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.filme-item h3 {
    margin-top: 0;
}

.filme-item p {
    margin-bottom: 5px;
}